dash==0.36.0
dash-core-components==0.43.0
dash-html-components==0.13.5
dash-renderer==0.17.0
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Cache==0.13.0
gunicorn==19.9.0
pandas==0.23.4
pandas-datareader==0.7.0
plotly==3.6.0
python-dateutil==2.7.5
